.wrapper_navlink {
    .button_order {
      padding: 9px 30px;
      font-size: 15px;
      color: $green;
      font-weight: 600;
      background-color: #FFFFFF;
      border: none;
      box-shadow:  0 8px 16px rgba(97, 97, 97, 0.16);
      border-radius: 8px;
      cursor: pointer;
    }
    }